   <div class="container">
          <div class="jumbotron">
              <h1 class="display-4">About</h1>
                <br>
                <pre>
──▒▒▒▒▒────▄████▄─────
─▒─▄▒─▄▒──███▄█▀──────
─▒▒▒▒▒▒▒─▐████──█──█──
─▒▒▒▒▒▒▒──█████▄──────
─▒─▒─▒─▒───▀████▀───── 
                </pre>
                <hr class="my-4">
                <p>Ruby is awesome. Sinatra is awesome. Rails has a bit too much magic for my taste but is awesome none the less. Bootstrap is awesome as well!</p>
          </div>
      </div>

      