   <div class="container">
          <div class="jumbotron">
              <h1 class="display-4">Welcome</h1>
                <br>
                <pre>
──▒▒▒▒▒────▄████▄─────
─▒─▄▒─▄▒──███▄█▀──────
─▒▒▒▒▒▒▒─▐████──█──█──
─▒▒▒▒▒▒▒──█████▄──────
─▒─▒─▒─▒───▀████▀───── 
                </pre>
                <hr class="my-4">
                <p class="blockquote">"It should be the experience, that is touching. What I strive for is to make the person playing the game the director."</p>
                <footer class="blockquote blockquote-footer">Shigeru Miyamoto</footer>
                <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
                <a class="btn btn-primary btn-lg" href="/login" role="button">Log In</a>
          </div>
      </div>

      

